*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

body{
  background-color: #ae0048;
}

h2{
  color:white;
  margin: 30px auto;
}

#console{
  display: flex;
  justify-content: space-around;
  width:80%;
  margin:auto;
  background-color: #fff;
  border-radius: 15px;
  flex-wrap: wrap;
  padding:20px 50px ;
  color:#ae0048;
}

.userinput {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  width:30%;
}

.userinput *{
  margin:10px 5px;
}

.userinput > input{
  border:solid 1px #ae0048;
  border-radius: 5px;
  line-height: 40px;
  font-size: 1.1rem;
  position:relative;
  bottom:25%;
}

.userinput > input:focus {
  background-color: #ae0048;
  color:#fff;
}

.userinput input:last-child{
  appearance:none;
  -moz-appearance:textfield;
}

.radioinput div{
  text-align: left;
  margin-left: 25%;
}

.commands{
  width:50%;
}

button{
  padding:10px;
  color:#ae0048;
  border-radius: 5px;
  margin:20px;
  font-size: 1.1rem;
  transition:transform linear .5s;
}

button:hover{
  transform:scale(1.4);
  background-color: #ae0048;
  color:black;
  cursor:pointer;
}

#buy{
  font-size: 1.4rem;
  color:white;
  padding-top:50px;
}

#ticketcontainer{
  display:none;
  transition: all linear .2s;
}

#ticket:hover{
  transform: scale(1.1);
  cursor:pointer;
}

#ticket:hover #buy{
  display: block;
}

#ticket *{
text-align: left;
}



#ticket{
  display: flex;
  align-items: center;
  width:80%;
  margin:auto;
  background-color: #fff;
  border-radius: 15px;
  flex-wrap: wrap;
  padding:20px 50px ;
  color:#ae0048;
}

#userdata{
  color:#000;
  background-color: #767676;
  width:20%;
}

#userdata h4{
  text-align: left;
  padding:5px;
}


#ticket > h4{
  width:100%;
  color:#000;
  text-align:left;
  padding:5px 5px 5px 0;
}

.traveldata{
  color:#000;
  display:flex;
  justify-content: space-around;
  width:80%;
}

.travelbox , #userdata{
  display:flex;
  width:20%;
  text-align: left;
  flex-direction: column;
  justify-content: space-between;
  min-height:150px;
}

#ticketname{
  font-size: 1.1rem;
  padding:25px;
  padding-left: 5px;
}
